*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light--pink: hsl(275, 100%, 97%);
    --Grayish--purple: hsl(292, 16%, 49%);
    --Dark--purple: hsl(292, 42%, 14%);
}

@font-face {
    font-family: WorkSansIta;
    src: url(../allGivenFiles/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: WorkSansVaria;
    src: url(../allGivenFiles/fonts/WorkSans-VariableFont_wght.ttf);
}


body{
    font-family: WorkSansVaria;
    font-size: 16px;
    background: url(../images/background-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0 15px 0;
    position: relative;
    background-color: var(--Light--pink);
    display: flex;
    justify-content: center;
    align-items: center;

}

Section{
    position: absolute;
    top: 260px;
    background-color: var(--White);
    padding: 20px 30px;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    filter: drop-shadow( 1px 1px 10px rgb(167, 166, 166));

}


.attribution{
    position: absolute;
    bottom: 0;
    left: 0;
}